#fullScreen{
	height:100%;
	width:100%;
	background:#ECF981;
}
#logo{
	height:10%;
	width:100%;
	background:orange;	
}
#popularLink{
	height:10%;
	width:100%;
	background:brown;		
}
#products{
	height:80%;
	width:100%;
	background:#2980B9;		
}
#filter{
	height:100%;
	width:10%;
	background:yellow;
	float:left;	
}
#filter:hover{
	background:#E67E22;
}
#display{
	height:100%;
	width:90%;
	background:white;		
	float:left;	
}